@inherits LayoutComponentBase

<div class="top" id="top">
	<TopBar />
</div>

<div class="content">
	<aside>
		<div class="side">
			<SideBar />
		</div>
	</aside>

	<div class="main">
		@Body
	</div>
</div>
