.top {
    width: 100%;
    height: var(--top-bar-height);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    padding: 8px 12px 0px;
    z-index: 3;
    backdrop-filter: blur(50px);
}

.content {
    display: flex;
}

.side {
    position: sticky;
    top: var(--top-bar-height);
    z-index: 1;
    margin-left: 12px;
}

.main {
    width: 100%;
}