@inject NavigationManager NavigationManager
@inject MenuService MenuService
@inject UriValidator UriValidator

<FluentOption Value="@ItemData?.Tag" Selected="@UriValidator.IsActive(ItemData)" @onclick="Navigate">
	<FluentIcon Name="@ItemData?.Icon" Filled=false Size="@IconSize.Size20" slot="start"></FluentIcon>
	<span slot="start">@ItemData?.Tag</span>
</FluentOption>

@code {
	[Parameter]
	public MenuItem? ItemData { get; set; }

	protected override void OnInitialized()
	{
		NavigationManager.LocationChanged += (s, e) => StateHasChanged();
	}

	private void Navigate() => NavigationManager.NavigateTo(ItemData is null ? string.Empty : ItemData.Url);
}