.item {
    display: grid;
    grid-template-columns: 5px, auto;
}

  .item > span.activeindicator {
      display: inline;
      width: 3px;
      height: 20px;
      border-radius: calc(var(--control-corner-radius) * 1px);
      align-self: center;
      background: var(--accent-fill-rest);
      grid-column: 1;
  }

  .item ::deep fluent-anchor {
      width: 100%;
      grid-column: 2;
  }

    .item ::deep fluent-anchor::part(control) {
        justify-content: start;
    }