.sidenav {
    background-color: var(--fill-color);
    color: var(--neutral-foreground-rest);
    display: inline-block;
}

  .sidenav > ul {
      padding: 0;
      list-style: none;
      margin: 3px 5px 3px 0px;
  }

    .sidenav ::deep fluent-anchor > span {
        display: none;
    }

    .sidenav:hover ::deep fluent-anchor > span {
        display: inline;
    }

    .sidenav ::deep fluent-anchor::part(start) {
        margin-inline-end: 0px;
    }

    .sidenav:hover ::deep fluent-anchor::part(start) {
        margin-inline-end: 11px;
    }